#==============================================================================#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#
# This file is intentionally different from the output of `git svn show-ignore`,
# as most of those are useless.
#==============================================================================#

#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#
# Temp files created by most text editors.
*~
# Merge files created by git.
*.orig
# Byte compiled python modules.
*.pyc
# vim swap files
.*.swp
*.vim
# svn files
.svn*
# lib files
*.o
*.a
*.ho
# tags
.tags
tags
#==============================================================================#
# Explicit files to ignore (only matches one).
#==============================================================================#
/os161-1.11.tar.gz
/svn-setup.sh
/os161/defs.mk
/os161/lib/hostcompat/libhostcompat.ha
/os161/lib/libc/syscalls.S
/os161/testbin/add/add
/os161/testbin/argtest/argtest
/os161/testbin/badcall/badcall
/os161/testbin/bigfile/bigfile
/os161/testbin/conman/conman
/os161/testbin/crash/crash
/os161/testbin/ctest/ctest
/os161/testbin/dirconc/dirconc
/os161/testbin/dirseek/dirseek
/os161/testbin/dirtest/dirtest
/os161/testbin/f_test/f_test
/os161/testbin/farm/farm
/os161/testbin/faulter/faulter
/os161/testbin/filetest/filetest
/os161/testbin/forkbomb/forkbomb
/os161/testbin/forkexecbomb/forkexecbomb
/os161/testbin/forktest/forktest
/os161/testbin/guzzle/guzzle
/os161/testbin/hash/hash
/os161/testbin/hash/host-hash
/os161/testbin/hash/host-hash.exe
/os161/testbin/hog/hog
/os161/testbin/huge/huge
/os161/testbin/kitchen/kitchen
/os161/testbin/malloctest/malloctest
/os161/testbin/matmult/matmult
/os161/testbin/palin/palin
/os161/testbin/parallelvm/parallelvm
/os161/testbin/printchar/printchar
/os161/testbin/readchar/readchar
/os161/testbin/randcall/calls.c
/os161/testbin/randcall/randcall
/os161/testbin/rmdirtest/rmdirtest
/os161/testbin/rmtest/rmtest
/os161/testbin/sink/sink
/os161/testbin/sort/sort
/os161/testbin/stacktest/stacktest
/os161/testbin/sty/sty
/os161/testbin/tail/tail
/os161/testbin/tictac/tictac
/os161/testbin/triplehuge/triplehuge
/os161/testbin/triplemat/triple.c
/os161/testbin/triplemat/triple.h
/os161/testbin/triplemat/triplemat
/os161/testbin/triplesort/triple.c
/os161/testbin/triplesort/triple.h
/os161/testbin/triplesort/triplesort
#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
/root
/os161/kern/compile
/os161/sbin
/os161/bin

